[submodule "pr2-users"]
	path = pr2-users
	url = https://github.com/knorth55/pr2-users.git
[submodule "pr2-ft"]
	path = pr2-ft
	url = https://github.com/knorth55/pr2-ft.git
[submodule "pr2-core-noetic"]
	path = pr2-core-noetic
	url = https://github.com/knorth55/pr2-core-noetic.git
[submodule "pr2-core"]
	path = pr2-core
	url = https://github.com/knorth55/pr2-core.git
[submodule "pr2-netboot"]
	path = pr2-netboot
	url = git@github.com:knorth55/pr2-netboot.git
[submodule "pr2-kernel"]
	path = pr2-kernel
	url = git@github.com:knorth55/pr2-kernel.git
[submodule "pr2-network"]
	path = pr2-network
	url = git@github.com:knorth55/pr2-network.git
[submodule "pr2-iptables.d"]
	path = pr2-iptables.d
	url = git@github.com:knorth55/pr2-iptables.d.git
[submodule "executable-selector"]
	path = executable-selector
	url = git@github.com:knorth55/executable-selector.git
